<launch>
  <arg name="inertial_sub_topic"  default="/inertial"/>
  <arg name="mode_pub_topic"  default="/cmd_mode"/>
  <arg name="vel_pub_topic"  default="/cmd_vel"/>

  <node pkg="gesture_based_controller" type="gb_controller.py" name="gb_controller" output="screen">
    <remap from="/inertial" to="$(arg inertial_sub_topic)"/>
    <remap from="/cmd_mode" to="$(arg mode_pub_topic)"/>
    <remap from="/cmd_vel" to="$(arg vel_pub_topic)"/>
  </node>
</launch>

